@model WorldWideImporters.Models.ViewModels.FullDetailsVM

<!--Used to generate map with API-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

<div class="container body-content">
  @{
    ViewBag.Title = "Individual Details";
  }

  <div class="row">
    @*Contact Information - Person*@
    <div class="col-md-9">
      <h2>@Model.Person.FirstOrDefault().FullName</h2>
      <hr />

      <div class="row">
        <div class="col-md-4"><p>Preferred Name:</p></div>
        <div class="col-md-8"><p>@Model.Person.FirstOrDefault().PreferredName</p></div>
      </div>

      <div class="row">
        <div class="col-md-4"><p>Phone:</p></div>
        <div class="col-md-8"><a href="tel:@Model.Person.FirstOrDefault().PhoneNumber">@Model.Person.FirstOrDefault().PhoneNumber</a></div>
      </div>

      <div class="row">
        <div class="col-md-4"><p>Fax:</p></div>
        <div class="col-md-8"><p>@Model.Person.FirstOrDefault().FaxNumber</p></div>
      </div>

      <div class="row">
        <div class="col-md-4"><p>Email:</p></div>
        <div class="col-md-8"><a href="mailto:@Model.Person.FirstOrDefault().EmailAddress">@Model.Person.FirstOrDefault().EmailAddress</a></div>
      </div>

      <div class="row">
        <div class="col-md-4"><p>Member Since:</p></div>
        <div class="col-md-8"><p>@Model.Person.FirstOrDefault().MemberSince</p></div>
      </div>

      @*Contact Information - Company*@

      @if (Model.Company != null)
      {
        <h3>Company Details</h3>
        <hr />

        <div class="row">
          <div class="col-md-4"><p>Company Name:</p></div>
          <div class="col-md-8"><p>@Model.Company.FirstOrDefault().CustomerName</p></div>
        </div>

        <div class="row">
          <div class="col-md-4"><p>Phone Number:</p></div>
          <div class="col-md-8"><a href="tel:@Model.Company.FirstOrDefault().PhoneNumber">@Model.Company.FirstOrDefault().PhoneNumber</a></div>
        </div>

        <div class="row">
          <div class="col-md-4"><p>Fax Number:</p></div>
          <div class="col-md-8"><p>@Model.Company.FirstOrDefault().FaxNumber</p></div>
        </div>

        <div class="row">
          <div class="col-md-4"><p>Website:</p></div>
          <div class="col-md-8"><p><a href="@Model.Company.FirstOrDefault().WebsiteURL" target="_blank">@Model.Company.FirstOrDefault().WebsiteURL</a></p></div>
        </div>

        <div class="row">
          <div class="col-md-4"><p>Member Since:</p></div>
          <div class="col-md-8"><p>@Model.Company.FirstOrDefault().MemberSince</p></div>
        </div>

        <h3>Purchases</h3>
        <hr />
        <div class="row">
          <div class="col-md-4"><p>Total Orders:</p></div>
          <div class="col-md-8"><p>@Model.TotalOrders</p></div>
        </div>
        <div class="row">
          <div class="col-md-4"><p>Gross Sales:</p></div>
          <div class="col-md-8"><p>$@Model.GrossSales</p></div>
        </div>
        <div class="row">
          <div class="col-md-4"><p>Total Profit:</p></div>
          <div class="col-md-8"><p>$@Model.TotalProfit</p></div>
        </div>

        <h3>Most Profitable Items</h3>
        <table class="table">
          <tr>
            <th>
              @Html.DisplayNameFor(m => m.Invoice.FirstOrDefault().StockID)
            </th>
            <th>
              @Html.DisplayNameFor(m => m.Invoice.FirstOrDefault().Description)
            </th>
            <th>
              @Html.DisplayNameFor(m => m.Invoice.FirstOrDefault().Profit)
            </th>
            <th>
              @Html.DisplayNameFor(m => m.Invoice.FirstOrDefault().SalesPerson)
            </th>
          </tr>
          @foreach (var item in Model.Invoice)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.StockID)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Description)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Profit)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.SalesPerson)
              </td>
            </tr>
          }
        </table>




      }
    </div>

    <div class="col-md-3 photo">
      <div>
        <img src="~/Content/images/user.png" class="img-responsive" />
      </div>

      @if (Model.Address != null)
      {
        <h3>Address</h3>
        <hr />

        <p>@Html.DisplayFor(m => m.Address.FirstOrDefault().Address)</p>
        <p>@Html.DisplayFor(m => m.Address.FirstOrDefault().City) @Html.DisplayFor(m => m.Address.FirstOrDefault().State), @Html.DisplayFor(m => m.Address.FirstOrDefault().Zip)</p>

        <div id="mapid"></div>
        <!-- Script here actual intializes the longitude and latitude-->
        <script>
                    // center of the map
                    var center = [@Model.Latitude,@Model.Longitude];

                    // Create the map
                    var map = L.map('mapid').setView(center, 13);

                    // Set up the OSM layer
                    L.tileLayer(
                        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            maxZoom: 18
                        }).addTo(map);

                    // add a marker in the given location
                    L.marker(center).addTo(map);
        </script>

    }

    </div>
  </div>
  </div>

